/* Basic */

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

/* Navbar */

nav{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    z-index: 10000;
}

nav div img{
    display: inline-block;
    vertical-align: middle;
    position: static;
    left:10px;
    height:50px;
}

nav #search{
    height:25px;
}

#search_box{
    width:550px;
    height:100%;
    border: 0px solid black;
    border-radius: 10px 10px 10px 10px;
    flex-grow: 0.1;
    flex-shrink: 1;
}
#search_button{
    height: 27px;
    width: 27px;
    border-radius:100%;
}

nav select, option{
    background-color: black;
    opacity:1;
    font-size: 15px;
    color:white;
}

nav a, nav button{
    text-decoration: none;
    background-color: black;
    border-color: transparent;
    color: white;
    padding: 11px;
    border-radius: 0 0 100% 100%;
    font-size: 25px;
    flex-grow: 0.3;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: black;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
}

nav a:hover, nav button:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 1px;
    border-radius: 0;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a img{
    display: inline-block;
    vertical-align: middle;
    height: 25px;
}

.navbar{
    margin-top: 60px;
    display: flex;
    background-color: whitesmoke;
    height: 70px;
    padding-left: 60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar a img{
    display: inline-block;
    vertical-align: middle;
    height: 60px;
}

/* Product Section */

h2{
    background-color: #000;
    color: #fff;
    padding: 10px;
}

section {
    display: flex;
    padding: 15px;
    background-color: #222;
    justify-content: space-evenly;
    align-items: center;
}

section ul li{
    list-style-type: none;
    width: 100%;
}

.card {
    width: 300px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    opacity:0.9;
    transition: all 0.75s;
}

.card a{
    text-decoration: none;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff5722;
}

.card-button {
    font-size: 16px;
    font-weight: bold;
    background-color: beige;
    padding: 10px;
    border-radius: 50% 50% 0 0;
    opacity: 1;
    color: #ff5722;
}

.card-button:active {
    opacity :0.7;
}

.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    opacity:1;
    scale: 1.1;
}

/* Card animations #Order Section */
.fadeIn {
    opacity: 0.4;
    transition: opacity 1s ease-in-out;
}
  
.fadeIn.fadeIn-active {
    opacity: 1;
}  

/* Review Section */
.review {
    background-color: beige;
    padding: 4px 260px;
    margin: 0 13% 25px 13%;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.crux {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

.icon {
    margin-right: 16px;
    transition: transform 0.2s;
}

.icon.active {
    transform: rotate(-180deg);
}

.detail {
    color: #666;
    max-height: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    transition: max-height 0.2s;
}

/* Footer section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: black;
    color: white;
    font-weight: 500;
}

#brand{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 65px;
    height: 65px;
}